
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float:left;width:20%">
    <p></p>
</div>
<div style="float:left;width:27%;margin-top:200px">
    <a href="~/Preference/Create?type=person" class="btn" style="color:black;font-size:large;background-color:#FFFFE0;width:100%;font-weight:bold;line-height:200px;display:block;vertical-align:middle">Personal Plan</a>
</div>
<div style="float:left;width:6%">
    <p></p>
</div>
<div style="float:left;width:27%;margin-top:200px">
    <a href="#" class="btn" style="color:black;font-size:large;background-color:#FFFFE0;width:100%;font-weight:bold;line-height:200px;display:block;vertical-align:middle">Family Plan (Coming soon)</a>
</div>
<div style="float:left;width:20%">
    <p></p>
</div>
