@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p style="font-size:20px; width:100%; margin-top:10px">We are a group of innovative, energetic, motivated people and aiming to contribute our energy to find the solution to ease heart disease. With experienced team members in multiple areas, we are confident in looking forward and producing fantastic production.</p>

<p style="font-size:20px; width:100%; margin-top:10px">According to the article from Morgan Liotta in 2020, Australia's male and female obesity rates are ranked second in the world and eighth in the world. The Australian Institute of Health and Welfare (AIHW) further found that being overweight brings a series of risks, including heart disease. Thus, the target audience of this product is those people aged between 40 to 50 suffering from obesity. And they have similar characteristics, such as having family members and concerns about personal health. The main purpose of this product is to help this part of the population maintain a healthy lifestyle to relieve the harm caused by obesity, so as to reduce the risk of heart disease in the future.</p>
