
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <img src="~/img/3.FAQ bg pic.jpg" style="width:1100px;height:500px; display: flex;">
    <h2>General FAQ</h2>

    <h4>How can G’Cardiac help you?</h4>
    The goal of G’Cardiac is overweight people, to help them establish a suitable exercise plan for losing weight. Users can use AIAdvice to obtain recommended exercise items and establish personal exercise plans. Users can also choose a causal plan or family plan according to personal needs and set the timetable of the exercise plan by themselves. Users who choose the family plan need to link with family accounts, and then they can receive secret rewards through the linked accounts, and they can also send secret rewards to the linked accounts.

    <h4>What is AIadvice?</h4>
    AIAdvice is a calculation mode unique to this website. It can recommend the most appropriate sports category and mode for users through information such as the user's height and weight. And users can choose levels of difficulty to form a personal exercise plan.

    <h4>Dangers of being overweight.</h4>
    Overweight means that the weight of an individual is greater than the weight of a normal person or a healthy weight to a certain extent. Being overweight is usually due to fat accumulation in the body. To identify whether an individual is overweight requires reference to the Body Mass Index (BMI). Detailed information can be observed through the website:
    https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmi_tbl.htm

    <h4>The dangers of being overweight include:</h4>
    (1) Excessive fat accumulation increases circulating blood volume, causing increased heart load and high blood pressure.<br />

    (2) Abnormal fat metabolism and hyperlipidemia caused by high calorie eating lead to coronary atherosclerosis and myocardial fat deposition, thickening of the ventricular wall, and decreased myocardial compliance.<br />

    (3) The accompanying increase in blood sugar and blood lipids increases blood viscosity, weakens the ability of red blood cells to carry oxygen, and insufficient oxygen supply to myocardial cells.<br />

    (4) Excessive obesity leads to limited activity, which leads to weakened or insufficient coronary collateral circulation, and decreased cardiac compensatory ability.<br />

    The incidence of hypertensive heart disease (high heart disease) and coronary atherosclerotic heart disease (coronary heart disease) is high among obese people.

    <h4>Other content related to heart health.</h4>
    (1) Early symptoms of a heart attack include tightness or discomfort in the chest, arms, neck, or shoulders. If any of these symptoms occur during exercise, it may be an early warning sign of angina. Angina can cause a heart attack.<br />

    (2) Heart attacks are not limited to the elderly. A healthy lifestyle and proper exercise can reduce the occurrence of heart problems.<br />

    (3) Foods that are good for heart health include walnuts, tomatoes, oats, deep-sea fish, black beans and black sesame seeds.


    <h2>Technical FAQ</h2>


    <h4>My web page is blank, what should I do?</h4>

    Please check your internet connection and update your web browser to the latest version.

    <h4>My web browser is showing the error message like “ xxx ERROR”, what should I do?</h4>

    You are seeing this page means we are currently experiencing severe technical issues, or currently under attack, please wait for a while and give it another shot.

    <h4>My web page is showing historical contents (out of date content), why?</h4>

    The reason why you are seeing this is because we used the Always Online™ function provided by Cloudflare. It keeps the website online for visitors when the origin server is unavailable. Always Online serves limited copies of web pages to users instead of errors when the server is unreachable.

    <h4>Why does my web browser’s address bar indicate that the connection is unsecure? (without a padlock icon or showing a red padlock icon)?</h4>

    Please stop browsing the website <font color="red">IMMEDIATELY!! It means your connection may leak out to 3rd parties if you continue browsing the website.</font><br />
    The reason why you seeing this is maybe because<br />
    1. Your computer is under attack, please activate your antivirus software and do a deep scan.<br />
    2. Your computer's time is not correct. Please check and set it manually or using free NTP services provided by pool.ntp.org or time.nist.gov on your operation system to correct your time automatically.<br />
    3. Contact your PC/Apple service provider for repair.
</body>