@{
    ViewBag.Title = "Home Page";
}

@section css{
    <style>
        body{
            background-image:url("../../img/home_background.jpg");
            background-size:cover;
        }
    </style>
}
<div style="margin-top:350px" class="row">
    <p style="color:white;font-size:60px">Family, Health</p>
</div>
<div class="row">
    <p style="color:white;font-size:60px">and Yourself test test</p>
</div>
<div style="margin-top:80px" class="row">
    <div class="col-md-4">
        <p style="color:#19374D;font-size:25px;font-style:oblique">Being overweight can lead to diseases such as high blood pressure or diabetes that may lead to heart disease. We will provide continuous help to help you solve your worries.</p>
    </div>
</div>
<div style="margin-top:-100px" class="row">
    <div class="btn col-md-4" style="margin-top:60px;background-color:white;">
        <a href="/Account/Register"><p style="color:black;font-size:large">QUICK START</p></a>
    </div>
</div>