@{
    ViewBag.Title = "Home Page";
}

@section css{
    <style>
        body {
            background-image: url("../../img/home_background.jpg");
            background-size: cover;
            background-position: center top;
            display: flex;
        }
    </style>
}
<div style="float:left;width:35%">
    @*<div style="margin-top:50px" class="row">
        <p style="color:white;font-size:50px">Family, Health</p>
    </div>
    <div class="row">
        <p style="color:white;font-size:50px">and Yourself</p>
    </div>
    <div style="margin-top:80px" class="row">
        <p class="col-lg-12 col-md-12" style="color:white;font-size:25px;font-style:oblique;">Being overweight can lead to diseases such as high blood pressure or diabetes that may lead to heart disease. We will provide continuous help to help you solve your worries.</p>
    </div>*@
    <div style="margin-top:500px" class="row">
        <img src="~/img/2.Wanna lose weight with your family_.png">
    </div>
</div>
<div style="float:left;width:30%">
    <div class="row" style="margin-top:400px">
        <a href="/Preference/Create" class="btn" style="color:black;font-size:large;background-color:#FFFFE0;width:100%;font-weight:bold">QUICK START</a>
    </div>
</div>
