
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LOGIN</title>
</head>
<body>
    @if (ViewBag.valid != null)
    {
        <script>
            alert("@ViewBag.valid");
        </script>
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h4 class="text-muted font-weight-light mt-1">Sign in to G'Cardiac</h4>
            </div>
        </div>
        <div class="row row-custom">
            <div class="col">
                <div class="bg-white p-4 mt-3 border rounded">
                    <form action="/Home/Login" method="post">
                        <div class="form-group">
                            <label for="usernameInput" class="text-dark">Username</label>
                            <input type="text" class="form-control form-control-sm" name="username" id="usernameInput" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="userpwdInput" class="text-dark d-block">
                                Password
                            </label>
                            <input type="password" name="pwd" class="form-control form-control-sm" id="userpwdInput" placeholder="Password">
                        </div>
                        <button type="submit" class="btn rounded-sm btn-primary-custom btn-block btn-sm text-white mt-4">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
