
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p class="text-center" style="font-size:40px; margin-top:220px">Your G'Cardiac account has been created. Click Button below to start your own exercise plan.</p>

<div class="text-center row">
    <a href="~/UserDetails/Create" class="btn btn-default" style="font-size:20px">Create Your First Profile</a>
</div>
<div class="text-center row">
    <a href="~/Home/Index" class="btn btn-default" style="font-size:20px;margin-top:10px">Back to Home</a>
</div>

