
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/UserDetails/_Main.cshtml";
}

<h2>Result</h2>

<div>
    <p style="font-size: 26px; line-height: 36px; font-weight:bolder; text-align: center; color: @ViewBag.color">You have a @ViewBag.result% chance of having a heart disease!</p>
</div>
