
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <style>
        body {
            background-image: url("../../img/Input_profile_background.jpg");
            background-size: cover;

        }
    </style>
}
<div style="height:100px;width:100%">
    <p></p>
</div>
<div style="float:left; width:10%; height:450px; padding-left:1em; padding-top:2em; border:1px solid black; background-color:white">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="~/UserDetails/Index" style="font-size:20px; color:dodgerblue">Profile</a>
        </li>
        @*@<li class="nav-item">
                <a class="nav-link" href="#">LinkAccount</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SecretReward</a>
            </li>*@
    </ul>
</div>
<div style="float:left; width:5%">
    <p></p>
</div>
<div style="float:left; width:60%; height:450px; padding-left:7em; border:1px solid black; background-color:white">
    @RenderBody()
</div>
@RenderSection("scripts", required: false)